.page {
  overflow: hidden;
  overflow-y: scroll;
  flex: 1;
}

.page > *:nth-child(2) {
  min-height: 100%;
}

.page > *:not(footer):not(header),
footer > * {
  width: min(calc(100% - var(--space-l) * 2), 1000px);
  margin-inline: auto;
}

p {
  color: var(--color-foreground-light);
}

header {
  min-height: 40vh;
  background-color: var(--color-background-dark);
  border-bottom: 2px solid var(--color-border-top);
  flex-direction: column-reverse;
  display: flex;
}

.divider {
  display: flex;
  height: 0;
  width: 100%;
  content: "";
  align-items: baseline;
}

.divider > * {
  height: calc(var(--space-l));
  width: 100%;
  border-bottom: 2px solid var(--color-border-bottom);
}

.card {
  border-radius: var(--radius-m);
  border-top-color: var(--color-border-top);
  border-left-color: var(--color-border-left);
  border-right-color: var(--color-border-right);
  border-bottom-color: var(--color-border-bottom);
  border-width: var(--width-border);
  border-style: solid;
  background-color: #2e30368a;
  padding: var(--space-l);
  box-shadow: 0 4px 24px 0 rgba(39, 38, 38, 0.226);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
}

button {
  border-radius: var(--radius-m);
  border-color: var(--color-border);
  border-width: var(--width-border);
  border-style: solid;
  background-color: var(--color-background);
  color: var(--color-foreground);
  padding: var(--space-l);
  padding-inline: var(--space-l);
  cursor: pointer;
  transition-duration: var(--duration-fast);
}

button:hover {
  background-color: var(--color-background-light);
}

button:active {
  background-color: var(--color-background);
  color: var(--color-foreground-light);
}

img {
  border-radius: var(--radius-m);
  border-color: var(--color-border);
  border-width: var(--width-border);
  border-style: solid;
  background-color: var(--color-background);
}