@font-face {
  font-family: "Space Grotesk";
  src: local("Space Grotesk"),
    url("../assets/fonts/Space_Grotesk/static/SpaceGrotesk-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Space Grotesk Light";
  src: local("Space Grotesk Light"),
    url("../assets/fonts/Space_Grotesk/static/SpaceGrotesk-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Space Mono";
  src: local("Space Mono"),
    url("../assets/fonts/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
}

:root {
    /* primary */
    --color-background: #282a31;
    --color-background-light: rgb(30, 31, 39);
    --color-background-dark:#1a1b1f;
    --color-text: white;
    --color-text-light: #bbbbbb;
    
    /* foreground */
    --color-foreground: white;
    --color-foreground-light: rgb(196, 196, 196);

    --color-background-secondary: #4d6c95;
    --color-text-secondary: white;
    --color-text-secondary-light: rgb(187, 187, 187);
  
    /* interaction */
    --color-interaction-hover: #698ab6;
    --color-interaction-active: #385479;
  
    /* special */
    --color-error: rgb(221, 79, 79);
    --color-success: rgb(105, 172, 105);
  
    /* spacing */
    --space-s: 2px;
    --space-m: 4px;
    --space-l: 8px;
    --space-xl: 32px;
  
    /* shapes */
    --radius-s: 0px;
    --radius-m: 4px;
    --radius-l: 0px;

    /* border */
    --width-border: 2px;
    --color-border: #bfcdfa5d;
    --color-border-top: #bfcdfa5d;
    --color-border-bottom: #b6c7fc33;
    --color-border-left: #bfcdfa5d;
    --color-border-right: #b6c7fc33;
  
    /* animation */
    --duration-fast: 100ms;
    --duration-slow: 500ms;

    overflow: hidden;
  }