.gridTech, .gridProjects, .gridExperiences {
    display: grid;
    gap: var(--space-l);
}

.gridTech {
    grid-template-columns: 1fr 1fr 1fr;
}

.gridProjects {
    grid-template-columns: 1fr;
}

.gridExperiences {
    grid-template-columns: 1fr;
}

.lifted {
    display: flex;
    height: 0;
    align-items: center;
    width: 100%;
    /* padding-bottom: calc(191px / 2); */
}

.lifted > * {
    width: inherit;
}

.divider {
  border-bottom: 2px solid var(--color-border-bottom);
  height: var(--space-xl);
}

.graphic {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-border-bottom);
}

@media only screen and (max-width: 700px) {
    .gridProjects, .gridExperiences {
      grid-template-columns: 1fr 1fr;
    }
  }