.layout {
    display: grid;
    grid-template-columns: 128px auto;
    gap: var(--space-l);
}


.layout > img {
    aspect-ratio: 1 / 1;
    width: 100%;
}

.layout > div h1, .layout > div p {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-l);
}